*,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  line-height: 2;
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
}

.form {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

.formInput {
  width: 90%;
  height: 4vh;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
  justify-content: center;
}

.input {
  width: 90%;
  height: 100%;
  border-radius: 5px;
  padding: 19px;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

button {
  width: 18%;
  background-color: #537438;
  color: #fff;
  cursor: pointer;
  outline: none;
  border: none;
  padding: 8px;
  margin-top: 6px;
  border-radius: 5px;
}

.result {
  width: 90%;
  margin: auto;
  margin-top: 50px;
}

.resultHeader {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
